body {
  background-image: url('../images/burlap.jpg');
}

#show-input{
  display : none;
}

.card {
  background-color: aquamarine;
  border-style : solid;
  border-color : black;
  border-width : 2px;
  border-radius : 5px;
  padding : 40px;
  margin : 20px;
  
}

.card-title {
  font-family: 'Itim', cursive;
}
